.Main-Text{
  background-image: url("/img/farmhouse.png");
  background-repeat:no-repeat;
  background-size:cover;
  width: 100%;
  position: absolute;
  height:50%;
  margin: auto;
  text-align: center;

}
.inner{
position: relative;
 top: 10%;
 left: 0%;
 font-size: 1.5em;
 color: #E30022;
}

.selling{
position: relative;
 margin-right:auto!important;
  margin-left:auto!important;
 font-size: 1.5em;
 color: black;
 max-width:200px;
 margin-top:80px;
}
.sellpic{
	position: fixed;
	top: 50%;
	left: 12%;
 background-image:url("/img/savings.png");
 background-size:cover;
 width:75%;
 height:55%;


}


.houseinfo p{
  padding-left: 1em;

}
.homecard h2{
  padding-left: .5em;
}
.homecard img{
  border-radius:.25em .25em 0px 0px;
  }
.homecard {
  position:relative;
  width:100%;
  max-width:360px;
  background-color: black;
  overflow-wrap:break-word;
  word-wrap:break-word;
  color: white;
  border-radius:.25em .25em .25em .25em;
  width: 16.5em;
  height: 21.5em;
  margin-bottom: 1em;
  margin-left: 2.5em;
  margin-right:0em;
  overflow:auto;
}
.card-container{
 position:relative;
  width:100%;
  max-width:360px;
  text-align: left;
  width: 19.5em;
  height: 21.5em;
}
.card-container img{
display:block;
width:100%;
height: auto;
}
.card-container:hover {
  cursor: pointer;
  border: solid .00075em #FC5185;
  transition: border-width 0.615s;
  border-radius:.25em .25em .25em .25em;
}
.Navbar {
  background-color: black;
  color:white;
  padding-left:0;
}
.navigation label{
  margin-bottom:0;
  padding-top:3px;
}
.homevalue{
  
  background:none;
  color:white;
  border:0;
border-bottom:1px solid grey;
}
.filtervalue{
  background:none;
  color:white;
  border:none;
  padding:0 7px 0px 0px;
}
.filtervalue:hover {
  color:#E30022;
  text-decoration:underline grey;
  }
.gogl-map{
  padding-left: 0;
}
.selling{
  background-color: white;
  margin-right:15em;
  border-radius:.25em;
}
.navigation{
  font-size:16px;
}
.google-text {
font-size: 16px;
text-align: center;
}
.extrafilters{
padding:5px;
border:0;
border-bottom:1px solid grey;
border-radius:3px;
color:white;
background:none;
border-color:grey;
}
.dropdown{
  color:white;
  margin:0 auto;
  background:black;
  border-radius: 0px 0px 5px 5px;
  padding:15px 0px;
  border:1px solid grey;
}
.filterblock{
  display:block;
}
.closefilters{
border:0;
color:white;
background:none;
border-color:grey;
}
.closefilters:hover{
border-bottom:1px solid grey;
border-radius:3px;
color:#E30022;
}